---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/users/lookup.json
    body:
      encoding: US-ASCII
      string: screen_name=a%2Cb%2Cc%2Cd%2Ce%2Cf%2Cg%2Ch%2Ci%2Cj%2Ck%2Cl%2Cm%2Cn%2Co%2Cp%2Cq%2Cr%2Cs%2Ct%2Cu%2Cv%2Cw%2Cx%2Cy%2Cz%2Caa%2Cab%2Cac%2Cad%2Cae%2Caf%2Cag%2Cah%2Cai%2Caj%2Cak%2Cal%2Cam%2Can%2Cao%2Cap%2Caq%2Car%2Cas%2Cat%2Cau%2Cav%2Caw%2Cax%2Cay%2Caz%2Cba%2Cbb%2Cbc%2Cbd%2Cbe%2Cbf%2Cbg%2Cbh%2Cbi%2Cbj%2Cbk%2Cbl%2Cbm%2Cbn%2Cbo%2Cbp%2Cbq%2Cbr%2Cbs%2Cbt%2Cbu%2Cbv%2Cbw%2Cbx%2Cby%2Cbz%2Cca%2Ccb%2Ccc%2Ccd%2Cce%2Ccf%2Ccg%2Cch%2Cci%2Ccj%2Cck%2Ccl%2Ccm%2Ccn%2Cco%2Ccp%2Ccq%2Ccr%2Ccs%2Cct%2Ccu%2Ccv
    headers:
      Authorization:
        oauth_version: 100.0x
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 06 Mar 2014 04:01:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1394078752'
      X-Transaction:
      - 6c20cf965cd2ec7b
    body:
      encoding: US-ASCII
      string: ! '[{"id":940631,"id_str":"940631","name":"Andrei Zmievski","screen_name":"a","location":"San
        Francisco, CA","description":"Coder, photographer, beer judge and brewer,
        Russian, and San Franciscan. Software architect at @AppDynamics.","url":"http:\/\/t.co\/VPi9vzq9Ft","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/VPi9vzq9Ft","expanded_url":"http:\/\/zmievski.org\/","display_url":"zmievski.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":120549,"friends_count":265,"listed_count":1247,"created_at":"Sun
        Mar 11 18:05:57 +0000 2007","favourites_count":494,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":13332,"lang":"en","status":{"created_at":"Wed
        Mar 05 23:00:13 +0000 2014","id":441347478776852480,"id_str":"441347478776852480","text":"@preinheimer
        Gmail.","source":"web","truncated":false,"in_reply_to_status_id":441344885191237632,"in_reply_to_status_id_str":"441344885191237632","in_reply_to_user_id":1290621,"in_reply_to_user_id_str":"1290621","in_reply_to_screen_name":"preinheimer","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"preinheimer","name":"Paul
        Reinheimer","id":1290621,"id_str":"1290621","indices":[0,12]}]},"favorited":false,"retweeted":false,"lang":"vi"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"170F00","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/2909595\/AZ-twitter.gif","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/2909595\/AZ-twitter.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1843828229\/headshot_bw_m_copy_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1843828229\/headshot_bw_m_copy_normal.jpg","profile_link_color":"A04521","profile_sidebar_border_color":"E6AA51","profile_sidebar_fill_color":"E6AA51","profile_text_color":"170F00","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":11266532,"id_str":"11266532","name":"Brian
        Griffing","screen_name":"b","location":"99223","description":"Hello, My Name
        is Brian.. I play music.. I travel.","url":"http:\/\/t.co\/GhopeSU5BP","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/GhopeSU5BP","expanded_url":"http:\/\/www.briangriffing.com","display_url":"briangriffing.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":42240,"friends_count":169,"listed_count":270,"created[...]
[...]
