---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/users/lookup.json
    body:
      encoding: US-ASCII
      string: screen_name=ev%2Ctwitter
    headers:
      Authorization:
        oauth_version: 100.0x
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 05 Mar 2014 05:02:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1393996676'
      X-Transaction:
      - fa6b12f0443bede5
    body:
      encoding: US-ASCII
      string: ! '[{"id":20,"id_str":"20","name":"Ev Williams","screen_name":"ev","location":"San
        Francisco, CA, US","description":"Here","url":"http:\/\/t.co\/RHopQRlgL9","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/RHopQRlgL9","expanded_url":"http:\/\/medium.com\/@ev\/","display_url":"medium.com\/@ev\/","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1721422,"friends_count":1590,"listed_count":19806,"created_at":"Tue
        Mar 21 21:02:31 +0000 2006","favourites_count":2628,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":7253,"lang":"en","status":{"created_at":"Sun
        Mar 02 21:10:17 +0000 2014","id":440232648137379841,"id_str":"440232648137379841","text":"RT
        @ClimateReality: Today we celebrate a man of too many words, tricks, &amp;
        limericks. Happy Birthday Dr. Seuss. http:\/\/t.co\/CzUJOkP0L9","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Mar 02 21:04:01 +0000 2014","id":440231073126318080,"id_str":"440231073126318080","text":"Today
        we celebrate a man of too many words, tricks, &amp; limericks. Happy Birthday
        Dr. Seuss. http:\/\/t.co\/CzUJOkP0L9","source":"\u003ca href=\"http:\/\/www.crowdbooster.com\"
        rel=\"nofollow\"\u003eCrowdbooster\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":172,"favorite_count":90,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[],"media":[{"id":440231072908181504,"id_str":"440231072908181504","indices":[95,117],"media_url":"http:\/\/pbs.twimg.com\/media\/BhwD1A_IAAA8070.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/BhwD1A_IAAA8070.png","url":"http:\/\/t.co\/CzUJOkP0L9","display_url":"pic.twitter.com\/CzUJOkP0L9","expanded_url":"http:\/\/twitter.com\/ClimateReality\/status\/440231073126318080\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":600,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":700,"h":700,"resize":"fit"},"small":{"w":340,"h":340,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"retweet_count":172,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"ClimateReality","name":"Climate
        Reality","id":16958346,"id_str":"16958346","indices":[3,18]}],"media":[{"id":440231072908181504,"id_str":"440231072908181504","indices":[115,137],"media_url":"http:\/\/pbs.twimg.com\/media\/BhwD1A_IAAA8070.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/BhwD1A_IAAA8070.png","url":"http:\/\/t.co\/CzUJOkP0L9","display_url":"pic.twitter.com\/CzUJOkP0L9","expanded_url":"http:\/\/twitter.com\/ClimateReality\/status\/440231073126318080\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":600,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":700,"h":700,"resize":"fit"},"small":{"w":340,"h":340,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"B6D4D1","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000541049107\/3b6dcbd9c0182688457f372b40483e50_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000541049107\/3b6dcbd9c0182688457f372b40483e50_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/20\/1388609671","profile_link_color":"430B26","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"EE7C6E","profile_text_color":"AF4E4D","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":783214,"id_str":"783214","name":"Twitter","screen_name":"twitter","location":"San
        Francisco, CA","description":"Your official source for news, updates and tips
        from Twitter, Inc.","url":"http:\/\/t.co\/5iRhy7wTgu","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5iRhy7wTgu","expanded_url":"http:\/\/blog.twitter.com\/","display_url":"blog.twitter.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":29204944,"friends_count":131,"list[...]
